*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea*
/core/contract/usecase/build/kotlin/compileKotlin/local-state/build-history.bin
/core/di/build/kotlin/compileKotlin/local-state/build-history.bin
/core/contract/usecase/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
/core/di/build/kotlin/compileKotlin/cacheable/caches-jvm/jvm/kotlin/class-attributes.tab
/core/contract/usecase/build/.transforms/453ba0d4ff606ee6440c5aed216b6a94/transformed/main/desugar_graph.bin
/core/contract/usecase/build/.transforms/e58de6fc4c0521ac48ba43f506bde4b3/transformed/empty/desugar_graph.bin
/core/di/build/.transforms/78ec55529ade972be00bfcaa5e5541ac/transformed/empty/desugar_graph.bin
/core/di/build/.transforms/b090f5dc702c1fbd26ee60cf101f9bd9/transformed/main/desugar_graph.bin
/core/di/build/.transforms/b090f5dc702c1fbd26ee60cf101f9bd9/transformed/main/main_dex/com/gefest/di/DiProvider.dex
/core/di/build/.transforms/b090f5dc702c1fbd26ee60cf101f9bd9/transformed/main/main_dex/com/gefest/di/GlobalDi.dex
/core/di/build/.transforms/d2693b9cd8586208c647cb513bdf5456/transformed/jetified-di.jar
/core/contract/usecase/build/.transforms/3ddf4e52e6568f7ef1842574a3eec7d3/transformed/jetified-usecase.jar
/core/contract/usecase/build/.transforms/2ffb96bf9c74435429a5565577f81c5b/results.bin
/core/contract/usecase/build/.transforms/3ddf4e52e6568f7ef1842574a3eec7d3/results.bin
/core/contract/usecase/build/.transforms/6ac2c8d27fedd1e796e90a9fd62a6e1e/results.bin
/core/contract/usecase/build/.transforms/87f9b3dcdb040ef0fab4ce541d4494b4/results.bin
/core/contract/usecase/build/.transforms/453ba0d4ff606ee6440c5aed216b6a94/results.bin
/core/contract/usecase/build/.transforms/9319bfd8a89f611cc11350a2cda6e4c0/results.bin
/core/contract/usecase/build/.transforms/a882c8f512402f143e95289d6da6eac3/results.bin
/core/contract/usecase/build/.transforms/b5a3a84d279dc2b8b35d9391bcc73f4b/results.bin
/core/contract/usecase/build/.transforms/bc2f91930ad28061fc8e0236f062dd2a/results.bin
/core/contract/usecase/build/.transforms/e25b05670d72a2114add6353c15a30fd/results.bin
/core/contract/usecase/build/.transforms/e58de6fc4c0521ac48ba43f506bde4b3/results.bin
/core/di/build/.transforms/1cc9e87433a689bf047ad89028517744/results.bin
/core/di/build/.transforms/78ec55529ade972be00bfcaa5e5541ac/results.bin
/core/di/build/.transforms/865ec5de3d36ef1b002dca45e327eb74/results.bin
/core/di/build/.transforms/3436167e967e25885099dfc16a8b5f48/results.bin
/core/di/build/.transforms/a9ab9c0cfc8b6ffb1428d33fc62ab405/results.bin
/core/di/build/.transforms/b090f5dc702c1fbd26ee60cf101f9bd9/results.bin
/core/di/build/.transforms/c6bdf1bd8765424bc1a0eb0afe19dbde/results.bin
/core/di/build/.transforms/d86aeb99d588bc6720291fc3d4e0545a/results.bin
/core/di/build/.transforms/d2693b9cd8586208c647cb513bdf5456/results.bin
/core/di/build/.transforms/e57865ac5cdca9da8601a4bd1d2b40ea/results.bin
/core/di/build/.transforms/f614ac5a97ef346d6adbd676c414a193/results.bin
/core/contract/usecase/build/.transforms/453ba0d4ff606ee6440c5aed216b6a94/transformed/main/main_dex/com/gefest/usecase/UseCaseFlowWithoutParams.dex
/core/contract/usecase/build/.transforms/04fd2817b2454c7e39c36f93528c16e2/transformed/main/desugar_graph.bin
/core/contract/usecase/build/.transforms/d8c87c2a4d6a725874aceba6b2023b08/transformed/empty/desugar_graph.bin
/core/di/build/.transforms/4bbe09dbb31cd57e3dce530dae79b69a/transformed/main/desugar_graph.bin
/core/di/build/.transforms/529a6e6c5447fdf19ae246181ed64f43/transformed/empty/desugar_graph.bin
/core/di/build/.transforms/4bbe09dbb31cd57e3dce530dae79b69a/transformed/main/main_dex/com/gefest/di/DiProvider.dex
/core/di/build/.transforms/4bbe09dbb31cd57e3dce530dae79b69a/transformed/main/main_dex/com/gefest/di/GlobalDi.dex
/core/di/build/.transforms/e5a952ac2c897ae6498225fa98a052db/transformed/jetified-di.jar
/core/contract/usecase/build/.transforms/211655a994ab3ee5a8101c3c77f15d87/transformed/jetified-usecase.jar
/core/contract/usecase/build/.transforms/0ff4b9e06d5116760b5236ca43d18012/results.bin
/core/contract/usecase/build/.transforms/04fd2817b2454c7e39c36f93528c16e2/results.bin
/core/contract/usecase/build/.transforms/9c93e00b54093a088f70af06a16a324e/results.bin
/core/contract/usecase/build/.transforms/96c98e539d2fdb58ecbd91b53b67f27c/results.bin
/core/contract/usecase/build/.transforms/765c2ac452e28f6564364d7c2ea51bc4/results.bin
/core/contract/usecase/build/.transforms/211655a994ab3ee5a8101c3c77f15d87/results.bin
/core/contract/usecase/build/.transforms/8579761d66f5bcffcda6f74c4e585b97/results.bin
/core/contract/usecase/build/.transforms/d8c87c2a4d6a725874aceba6b2023b08/results.bin
/core/contract/usecase/build/.transforms/d7165af86da9978076bd853fc4a6ec7a/results.bin
/core/contract/usecase/build/.transforms/d98331cd44bcaeb8706adb7aa369a879/results.bin
/core/contract/usecase/build/.transforms/fb5a51c6b9ed3d55f9fdfd7bfa6ed7be/results.bin
/core/di/build/.transforms/1ce0c550cb89da57b0e4aa5c41e95275/results.bin
/core/di/build/.transforms/4bbe09dbb31cd57e3dce530dae79b69a/results.bin
/core/di/build/.transforms/9d61cb21e37ff71aa60c972f50bcceae/results.bin
/core/di/build/.transforms/0242f2f64411f8546586af91b55785f8/results.bin
/core/di/build/.transforms/246f92f0c996e254339d55f4435cca5b/results.bin
/core/di/build/.transforms/529a6e6c5447fdf19ae246181ed64f43/results.bin
/core/di/build/.transforms/717af3e198feeaf033f6fa469f813ca5/results.bin
/core/di/build/.transforms/21151ca241dd95a6ad74f5d17db3e219/results.bin
/core/di/build/.transforms/86769873a589170e7d7c62cf6d1690d8/results.bin
/core/di/build/.transforms/a07b592869dacb40990ca570ec8a4d8e/results.bin
/core/di/build/.transforms/e5a952ac2c897ae6498225fa98a052db/results.bin
/core/contract/usecase/build/.transforms/04fd2817b2454c7e39c36f93528c16e2/transformed/main/main_dex/com/gefest/usecase/UseCaseFlowWithoutParams.dex
